################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Helper.Data.Core/bin/Debug/netstandard2.0
