################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Helper.Data.Core/bin/Debug/netstandard2.0
/Helper.Data.Core/obj
/Tester/obj
/Tester/bin
/.vs
/Helper.Data.Core/bin/Release/netstandard2.0
/Helper.Data.Core/bin/Debug
/Helper.Data.Net4/Helper.Data.Net4/bin/Release
/Helper.Data.Net4/Helper.Data.Net4/obj
/Helper.Data.Core/bin/Release
